@import "tailwindcss";
@plugin "daisyui";

/* Global styles */
html,
body {
  background-color: white;
  min-height: 100vh;
  color: black;
}

#root {
  background-color: white;
  min-height: 100vh;
}